:root {
  --font-main: "Montserrat", sans-serif;
  --font-accent: "Lora", serif;
  --font-logo: "Crimson Pro", serif;

  --bg-color: #181719;
  --grey-1: #828282;
  --grey-2: #a9a9a9;

  --text-xs: 12px;
  --text-sm: 14px;
  --text-md: 18px;
  --text-lg: 24px;
  --text-xl: 48px;

  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em 5em;
  height: 100vh;
  width: 100vw;

  background-color: var(--bg-color);
  font-family: var(--font-main);
}

.nav {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo a:link,
.nav__logo a:visited {
  border: 1px solid #fff;
  font-family: var(--font-logo);
  font-size: var(--text-sm);
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;

  padding: 0.5em;
}

.nav__logo a:hover {
  cursor: pointer;
}

.nav__list {
  list-style: none;
  padding-left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5em;
}

.nav__link {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  transition: 0.15s ease-in-out;
  border-bottom: 1px solid var(--bg-color);
  padding: 0 0.2em 0.5em 0.2em;
}

.nav__link:hover {
  border-bottom: 2px solid #fff;
}

.nav__link--active {
  border-bottom: 2px solid #fff;
  font-weight: 700;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger__bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

/* Main */
.grid {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
  color: #fff;
  height: 72vh;
}

.grid__cell {
  align-self: center;
  justify-items: start;
}

.grid-left__title {
  font-family: var(--font-accent);
  font-weight: 500;
  font-size: var(--text-xl);
  margin-bottom: 1em;
}

.grid-left__text {
  text-align: start;
  font-size: var(--text-lg);
  font-weight: 400;
  line-height: 29.26px;
  margin-bottom: 2em;
}

.grid-left__link {
  color: #fff;
  font-size: var(--text-md);
  font-weight: 700;
  text-decoration: none;
  transition: 0.15s ease-in-out;
  display: flex;
  align-items: center;
  gap: 0.8em;
}

.material-icons {
  font-size: 1.7rem;
  padding-top: 0.05em;
}

.grid__cell--right {
  margin-top: 5em;
  justify-self: end;
  align-items: start;
  height: 600px;
}

.grid-right__img {
  width: 100%;
  height: auto;
  max-width: 737px;
  max-height: 555px;
}

.grid-right__card {
  width: 26em; /* 410px */
  height: 12em; /* 189px */

  background-color: var(--bg-color);
  box-shadow: var(--shadow);
  padding: 1.5em;

  display: block;
  position: relative;
  left: 18em;
  bottom: 5em;
}

.card__title {
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-bottom: 1em;
}

.card__avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.card__profile {
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card__name {
  font-size: var(--text-sm);
  font-weight: 500;
}

.card__role {
  color: var(--grey-1);
  font-size: var(--text-xs);
}

.card__credit {
  font-family: var(--font-accent);
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
  /* width: 287px; */
}

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  color: var(--grey-2);
  font-size: var(--text-sm);
  height: 14vh;
}

.footer__link {
  color: var(--grey-2);
  text-decoration: underline;
  font-weight: 700;
  padding: 0 0.25em;
}

@media screen and (max-width: 576px) {
  body {
    padding: 0.7em 0.7em;
  }

  header {
    margin-bottom: 1.5em;
  }

  .nav {
    height: 5vh;
  }

  .nav__logo--remove {
    opacity: 0;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .hamburger__bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .hamburger__bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .hamburger__bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .grid-right__card--remove {
    display: none;
  }

  .nav__list {
    position: fixed;
    top: 70px;
    width: 100%;
    height: 100vh;
    gap: 0.3em;

    flex-direction: column;
    justify-content: center;
    padding-bottom: 12em;

    background-color: var(--bg-color);
    opacity: 0;
    text-align: center;
    transition: 0.3s;
  }

  .nav__item {
    margin: 16px 0;
    font-size: 18px;
  }

  .nav__link--active {
    border-bottom: none;
  }

  .nav__list.active {
    left: 0;
    opacity: 1;
  }

  /* Main */
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 30vh 50vh;
    height: fit-content;
  }

  .grid-left__title {
    font-size: 36px;
    margin: 0 0 0.6em 0;
  }

  .grid-left__text,
  .grid-left__link {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 1em;
  }

  .grid__cell--right {
    margin-top: 0em;
    align-items: center;
    justify-items: start;
    height: 100%;
  }

  .grid-right__img {
    width: 100%;
    height: auto;
  }

  .grid-right__card {
    width: 300px;
    height: 138px;
    position: relative;
    left: 2.5em;
    bottom: 4em;
    padding: 1em 1.5em;
  }

  .card__avatar {
    width: 36px;
    height: 36px;
  }

  .card__profile {
    padding-left: 0;
  }

  .card__name {
    font-size: 12px;
  }

  .card__role {
    font-size: 10px;
  }

  .card__credit {
    font-size: 18px;
    line-height: 24px;
  }

  .footer {
    font-size: 11px;
    height: auto;
  }
}
