:root {
  --font-main: "Montserrat", sans-serif;
  --font-accent: "Lora", serif;
  --font-logo: "Crimson Pro", serif;

  --bg-color: #181719;
  --grey-1: #828282;
  --grey-2: #a9a9a9;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1.125rem;
  --text-lg: 1.5rem;
  --text-xl: 3rem;

  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  background-color: var(--bg-color);

  padding: 1em 5em;
}

/* header {
  border: 1px solid pink;
} */

.nav {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo a:link,
.nav__logo a:visited {
  border: 1px solid #fff;
  font-family: var(--font-logo);
  font-size: var(--text-sm);
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;

  padding: 0.5em;
}

.nav__logo a:hover {
  cursor: pointer;
}

.nav__list {
  list-style: none;
  padding-left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5em;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  transition: 0.15s ease-in-out;
  border-bottom: 1px solid var(--bg-color);
}

.nav__link:hover {
  border-bottom: 1px solid #fff;
}

.nav__link--active {
  border-bottom: 1px solid #fff;
  font-weight: 700;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger__bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

/* Main */
.grid {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
  color: #fff;
}

.grid__cell {
  align-self: center;
  justify-self: start;
}

.grid-left__title {
  font-family: var(--font-accent);
  font-weight: 500;
  font-size: var(--text-xl);
  margin-bottom: 1em;
}

.grid-left__text {
  text-align: start;
  font-size: var(--text-lg);
  font-weight: 400;
  line-height: 29.26px;
  margin-bottom: 1em;
}

.grid-left__link {
  color: #fff;
  font-size: var(--text-md);
  font-weight: 700;
  text-decoration: none;
  transition: 0.15s ease-in-out;
}

.grid-right__img {
  width: 100%;
  height: auto;
}

/* @media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
} */

/* 
    font-family: 'Crimson Pro', serif;
    font-family: 'Lora', serif;
    font-family: 'Montserrat', sans-serif;

    12px -- 0.75rem
    14px -- 0.875rem
    18px -- 1.125rem
    24px -- 1.5rem
    48px -- 3rem

    https://google.github.io/material-design-icons/
*/
