@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --font-header: "Playfair Display", serif;
  --font-body: "Montserrat", sans-serif;
  --accent-color: #f2994a;
  --grey: #333;
  --grey2: #4f4f4f;
  --grey3: #bdbdbd;
  --shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  --radius: 12px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.instructions__step {
  color: red;
  font-size: 2rem;
}
