@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --font-header: "Playfair Display", serif;
  --font-body: "Montserrat", sans-serif;

  --text-xxs: 0.625rem; /* 10px */
  --text-xs: 0.875rem; /* 14px */
  --text-sm: 1rem; /* 16px */
  --text-md: 1.125rem; /* 18px */
  --text-lg: 1.5rem; /* 24px */
  --text-xl: 3rem; /* 48px */
  --lh-xs: 1.067rem;
  --lh-sm: 1.5rem;

  --accent-color: #f2994a;
  --grey: #333;
  --grey2: #4f4f4f;
  --grey3: #bdbdbd;

  --shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  --radius: 12px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  font-family: var(--font-body);
  margin: 0 15em;
}

.header {
  margin-top: 3.25em;
}

.header__title {
  color: #000;
  font-family: var(--font-header);
  font-size: var(--text-xl);
  margin-bottom: 0.3em;
}

.header__infobox {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  justify-items: start;
  align-items: start;
}

.infobox__icon {
  margin-top: 0.3em;
}

.infobox__description {
  color: var(--grey2);
  font-size: var(--text-xs);
  line-height: var(--lh-xs);
  font-weight: 400;
  font-style: italic;
  padding-right: 16em;
  padding-left: 1em;
}

.header__img {
  margin: 2.5em 0;
  width: 100%;
  height: auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  grid-template-rows: auto;
}

.grid__cell {
}

.cell__title {
  color: var(--grey);
  font-family: var(--font-header);
  font-size: var(--text-lg);
  font-weight: 700;
}

.cell__subtitle {
  color: var(--grey);
  font-family: var(--font-header);
  font-size: var(--text-md);
  font-weight: 400;
  font-style: italic;
  margin: 1em auto;
}

.cell__ingredients-set {
}

.cell__summary {
}

.ingredients-set__ingredient {
}
.ingredients-set__ingredient input {
}
.ingredients-set__ingredient label {
}

.instructions {
}

.instructions__row {
}

.instructions__step {
}

.instructions__instruction {
}

.grid__source {
}

.grid__source a {
}

.summary {
}

.summary__serving {
}

.summary__icon {
}

.summary__info {
}

.summary__title {
}

.summary__description {
}

.summary__total {
}

.total__icon {
}

.total__info {
}

.total__title {
}

.total__description {
}
