*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey: #a9a9a9;
  --black: #000;
  --bg: #fafafa;

  --serif-font: "PT Serif", sans-serif;
  --sans-serif-font: "Poppins", sans-serif;
  --footer-font: "Montserrat", sans-serif;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1.125rem;
  --text-lg: 2.25rem;

  --lineheight-xs: 0.994rem;
  --lineheight-sm: 1.067rem;
  --lineheight-md: 1.688rem;
  --lineheight-lg: 2.981rem;

  --img-width: 14.813em;
  --img-width-mobile: 138.72px;
  /* --column-width: 16.5em; */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 16em;
  padding: 6.5em 8em;
}

h1 {
  font-family: var(--serif-font);
  font-size: var(--text-lg);
  font-weight: 700;
  letter-spacing: -0.045rem;
}

div.description {
  font-family: var(--sans-serif-font);
  width: 25em;
}

.description h3 {
  font-size: var(--text-md);
  font-weight: 600;
  line-height: var(--lineheight-md);
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.description p {
  font-size: var(--text-md);
  font-weight: 400;
  line-height: var(--lineheight-md);
}

/* 
    Main content and profiles
*/
main {
  margin: 5em 8em 3em 8em;

  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  grid-template-rows: repeat(2, minmax(auto, 1fr));
}

.profile-container {
  justify-self: start;

  display: flex;
  margin-bottom: 5em;
}

.profile-container:nth-child(2),
.profile-container:nth-child(5) {
  margin-top: 5em;
}

figure {
  width: var(--img-width);
}

img {
  width: 100%;
  height: auto;
}

figcaption {
  font-family: var(--sans-serif-font);
  font-size: var(--text-md);
  font-weight: 600;
  line-height: var(--lineheight-md);
  margin-top: 0.5em;
}

.profile-role {
  font-family: var(--serif-font);
  font-size: var(--text-xs);
  font-weight: 400;
  line-height: var(--lineheight-xs);
  text-transform: uppercase;
  height: max-content; /* minimum height of content inside the element */

  transform-origin: bottom left;
  transform: rotate(90deg);
  position: relative;
  bottom: 1.2em;
  left: 1em;
}

/* 
    Footer
*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
}

footer p {
  color: var(--grey);
  font-family: var(--footer-font);
  font-size: var(--text-sm);
  line-height: var(--lineheight-sm);
  font-weight: 500;
  text-align: center;
}

footer a:link,
footer a:visited {
  color: var(--grey);
  font-weight: 700;
}

footer a:hover {
  cursor: pointer;
}

/* 
    Mobile
*/
@media screen and (max-width: 648px) {
  header {
    height: 20em;
    padding: 4em 1em;
  }

  .description {
    margin-top: 3em;
  }

  .description p {
    font-size: var(--text-sm);
  }

  main {
    margin: 2em 1em;

    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 170px));
    grid-template-rows: auto;
    grid-gap: 10px !important;
  }

  .profile-container {
    /* max-width: 300px !important; */
    width: 40%;
  }

  .profile-container:nth-of-type(even) {
    margin-top: 5em;
  }

  .profile-container:nth-child(5) {
    margin-top: 0;
  }

  .profile-container img {
    width: var(--img-width-mobile);
  }

  .profile-role {
    left: 0.2em;
  }

  footer p {
    font-size: var(--text-xs);
  }
}

/*
lg - fontsize: 36px  lineheight: 47.7px  letterspacing: -0.045rem;
md - fontsize: 18px  lineheigh: 27px
sm - fontsize: 14px  lineheigh: 17.07px
xs - fontsize: 12px  lineheigh: 15.9px
*/
